$backgroundColor: #313335;
$primaryColor: #42A5F5;
$editorBackgroundColor: #2B2B2B;
$activeLineColor: #323232;
$selectLineColor: #214283;
$scrollbarColor: #494949;
$scrollbarBorderColor: #505050;
$scrollbarActiveColor: #5E5E5E;
$scrollbarActiveBorderColor: #6A6A6A;