@import './common.scss';
.DropZone {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;

	* {
		pointer-events: none;
	}

	.imageWrap {
		width: 100%;
		height: 100%;

		& > * {
			float: left;
		}

		.top, .bottom {
			width: 100%;
			height: calc(50% - 80px);
			background: rgba(255, 255, 255, .7);
		}

		.left, .right {
			width: calc(50% - 200px);
			height: 160px;
			background: rgba(255, 255, 255, .7);
		}

		.center {
			width: 400px;
			height: 160px;
			background: url(../images/drag&drop.min.png);
			opacity: .7;
		}
	}

	.wrap {
		width: 400px;
		height: 160px;
		position: fixed;
		left: 50%;
		top: 50%;
		margin: -80px 0 0 -200px;

		i {
			width: 100%;
			height: 100px;
			font-size: 120px;
			color: transparentize(darken($primaryColor, 40%), 0);
			text-align: center;
			line-height: 100px;
		}

		.text {
			width: 100%;
			height: 60px;
			line-height: 60px;
			font-size: 50px;
			text-align: center;
			font-weight: bold;
			color: transparentize(darken($primaryColor, 40%), 0);
		}
	}

	&.hidden {
		display: none;
	}
}