/* line 1, ../sass/Frame.scss */
.Frame {
  position: absolute;
  margin: 20px;
  width: calc(50% - 140px);
  height: calc(100% - 40px);
  border-radius: 2px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 1px 4px;
  overflow: visible;
}
/* line 11, ../sass/Frame.scss */
.Frame[type=source] {
  left: 0;
}
/* line 15, ../sass/Frame.scss */
.Frame[type=result] {
  left: calc(50% + 100px);
}
