/* line 1, ../sass/TextArea.scss */
.TextArea {
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 8, ../sass/TextArea.scss */
.TextArea .lineNumberBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: #f4f4f4;
}
/* line 21, ../sass/TextArea.scss */
.TextArea .textListWrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}
/* line 30, ../sass/TextArea.scss */
.TextArea .textListWrap .textList {
  width: 100%;
  white-space: nowrap;
  border: none;
  font-size: 14px;
  line-height: 25px;
  color: #666;
  border-bottom-right-radius: 2px;
  cursor: text;
  position: relative;
}
